# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Distributed Java\dist-java-dice-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
